* {
  margin: 0;
  padding: 0;
}
.logo,
.connected {
  text-align: center;
}
.logo {
  padding: 1rem;
}
.connected {
  font-family: "Montserrat", sans-serif;
  box-shadow: 0px -1px 10px #888888;
  padding: 1.5rem;
}
.media-links {
  text-decoration: none;
}
.social-media {
  padding: 2rem;
  color: #fff;
}
.social-media-icon {
  font-size: 2rem;
}
.social-media-text {
  font-size: 1.25rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
.fb {
  background-color: #4267b2;
}
.insta {
  background-color: red;
}
.whatsapp {
  background-color: #25d366;
}
.telegram {
  background-color: #0088cc;
}
.Page {
  color: rgb(77, 73, 73);
}
.Twitter {
  background-color: #1da1f2;
}
.Snapchat {
  background-color: #fffc00;
  color: #000;
}
.Quora {
  background-color: #b92b27;
}
.YouTube {
  background-color: #ff0000;
}
.LinkedIn {
  background-color: #0077b5;
}
